body {
    background: rgb(23, 23, 23);
    background: radial-gradient(circle, rgba(23, 23, 23, 1));
}

h1 {
    color: antiquewhite;
}

label {
    color: antiquewhite;
}

.container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}